@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.custom-u-gradient {
  background: radial-gradient(circle at top center, #4d004d 0%, #1A001A 50%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}